/*body{
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}*/

body {
     color: #fff;
     background-image: url('bg.jpg');
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
}

.box{
  width: 650px;
  height: 1000px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
}
.box p{
  text-align: justify;
  font-size: 20px;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  margin-top: 50vh;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
